apiVersion: v1
kind: Secret
metadata:
  name: {{ include "control-panel.fullname" . }}-secrets
  labels:
    {{- include "control-panel.labels" . | nindent 4 }}
type: Opaque
stringData:
  APP_KEY: {{ required "A valid .Values.app.key is required!" .Values.app.key | quote }}
  {{- if .Values.mysql.enabled }}
  DB_USERNAME: {{ .Values.mysql.auth.username | quote }}
  DB_PASSWORD: {{ required "A valid .Values.mysql.auth.password is required!" .Values.mysql.auth.password | quote }}
  DB_ROOT_PASSWORD: {{ required "A valid .Values.mysql.auth.rootPassword is required!" .Values.mysql.auth.rootPassword | quote }}
  {{- end }}
  {{- if and .Values.redis.enabled .Values.redis.auth.enabled }}
  REDIS_PASSWORD: {{ .Values.redis.auth.password | quote }}
  {{- else }}
  REDIS_PASSWORD: ""
  {{- end }}
  {{- if .Values.s3.enabled }}
  AWS_ACCESS_KEY_ID: {{ required "A valid .Values.s3.accessKey is required when S3 is enabled!" .Values.s3.accessKey | quote }}
  AWS_SECRET_ACCESS_KEY: {{ required "A valid .Values.s3.secretKey is required when S3 is enabled!" .Values.s3.secretKey | quote }}
  AWS_DEFAULT_REGION: {{ .Values.s3.region | quote }}
  AWS_BUCKET: {{ required "A valid .Values.s3.bucket is required when S3 is enabled!" .Values.s3.bucket | quote }}
  AWS_ENDPOINT: {{ .Values.s3.endpoint | quote }}
  AWS_USE_PATH_STYLE_ENDPOINT: {{ .Values.s3.usePathStyle | quote }}
  {{- end }}
