apiVersion: v1
kind: Secret
metadata:
  name: {{ include "control-panel.fullname" . }}-secrets
  labels:
    {{- include "control-panel.labels" . | nindent 4 }}
type: Opaque
stringData:
  APP_KEY: {{ required "A valid .Values.app.key is required!" .Values.app.key | quote }}
  {{- if .Values.mysql.enabled }}
  DB_USERNAME: {{ .Values.mysql.auth.username | quote }}
  DB_PASSWORD: {{ required "A valid .Values.mysql.auth.password is required!" .Values.mysql.auth.password | quote }}
  DB_ROOT_PASSWORD: {{ required "A valid .Values.mysql.auth.rootPassword is required!" .Values.mysql.auth.rootPassword | quote }}
  {{- end }}
  {{- if and .Values.redis.enabled .Values.redis.auth.enabled }}
  REDIS_PASSWORD: {{ .Values.redis.auth.password | quote }}
  {{- else }}
  REDIS_PASSWORD: ""
  {{- end }}
