apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: control-panel-storage
  namespace: control-panel
  labels:
    app: control-panel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
