name: Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  deployment:
  workflow_dispatch:

env:
  DB_DATABASE: liberu
  DB_USERNAME: liberu
  DB_PASSWORD: secret

jobs:
  docker:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: liberu/control-panel

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=liberu/control-panel:buildcache
          cache-to: type=registry,ref=liberu/control-panel:buildcache,mode=max
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }} 
